@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
    background-color: #ED4C7E;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    color:#e6e6e6;
}

#container {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size:27px;
    text-align: center;
}

h3 {
    text-align: center;
}

#playAgain {
    width:100px;
    height:30px;
    outline:none;
    background-color: black;
    border:none;
    color:#e6e6e6;
    font-size:16px;
    border-radius: 5px;
    margin-bottom:20px;
    display:none;
}

.grid {
    display:flex;
    flex-wrap: wrap;
    height:360px;
    width:480px;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin:5px 10px 5px 10px;
    box-shadow: 10px 10px 15px rgb(219, 64, 113), -7px -7px 7px rgb(255, 91, 143);
    border-radius:10px;
}

img:active {
    box-shadow: inset 4px 4px 7px rgb(219, 64, 113), -4px -4px 3px rgb(255, 84, 138);
}

img:hover {
    transform: scale(1.1);
}
